@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,400;1,100&family=Raleway:ital,wght@0,200;1,200&display=swap');
#qmall{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: black;
    border: none;
 }
 #bloodtrail{
 	margin-left: 500px;
 }